<% include ../partials/header %>
<div class="row" style="background-color: #acb7ae;">
    <div class="col-xs-6">
        <img src ="http://www.ims.gov.il/ims/publicpdf/ec_rain_forecast.png"  class="border-10">
    </div>
    <div class="col-xs-6" style="margin-left: 10%;">
            <img src ="http://ims.gov.il/ims/publicpdf/c3_rain_forecast.png"  class="border-10">
    </div>

</body>
</html>