<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <% include ../partials/header %>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    </head>
    
    <body>
      <div id="windy" style ="height: 100%;"></div>
      <script >
            const options = {
              key: <%=process.env.WINDYTOKEN%>, 
            };

        windyInit(options, windyAPI => {
          // All the params are stored in windyAPI.store
          const { overlays} = windyAPI;
          overlays.wind.listMetrics();
          // ['kt', 'bft', 'm/s', 'km/h', 'mph'] .. available metrics

          overlays.wind.setMetric('km/h');
          // Metric for wind was changed to bft
        });
      </script>
    </body>
</html>